 <!-- As a link -->
 <nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
    <br>
    
  </nav>

  <h1 style="color: white;">Welcome {{user}}</h1>
  
  
  <div class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 class="text-center">depositform</h3>
                  
              </div>
              <div class="card-body">
                  <form [formGroup]="depositForm" (ngSubmit)="deposit()">
                 
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control" name="acno" formControlName="acno" placeholder="accno" id="login_accno" required>
                          
                      </div>

                      <div style="color: red;" *ngIf="this.depositForm.get('acno')?.touched&&this.depositForm.get('acno')?.errors">invalid accountnumber</div>



                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <input type="password" class="form-control" name="pswd" formControlName="pswd" placeholder="password" id="login_password" required>
                      </div>

                      <div style="color: red;" *ngIf="this.depositForm.get('pswd')?.touched&&this.depositForm.get('pswd')?.errors">invalid password</div>



                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="amount" formControlName="amount" placeholder="Amount" id="login_user" required>
                        
                    </div>

                    <div style="color: red;" *ngIf="this.depositForm.get('amount')?.touched&&this.depositForm.get('amount')?.errors">invalid accountnumber</div>



                      
                      <div class="form-group">
                          <input type="submit" value="Deposit"  class="btn float-right login_btn " style="width:50%" >
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>


  <!-- withdraw -->

  <div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">withdraw form</h3>
                
            </div>
            <div class="card-body">
                <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
               
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="acno" formControlName="acno" placeholder="accno" id="login_accno1" required>
                        
                    </div>

                    <div style="color: red;" *ngIf="this.withdrawForm.get('acno')?.touched&&this.withdrawForm.get('acno')?.errors">invalid accountnumber</div>



                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" name="pswd" formControlName="pswd" placeholder="password" id="login_password1" required>
                    </div>

                    <div style="color: red;" *ngIf="this.withdrawForm.get('pswd')?.touched&&this.withdrawForm.get('pswd')?.errors">invalid accountnumber</div>



                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      <input type="text" class="form-control" name="amount" formControlName="amount" placeholder="Amount" id="login_user1" required>
                      
                  </div>

                  <div style="color: red;" *ngIf="this.withdrawForm.get('amount')?.touched&&this.withdrawForm.get('amount')?.errors">invalid accountnumber</div>


                    
                    <div class="form-group">
                        <input type="submit" value="withdraw"  class="btn float-right login_btn " style="width:50%" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

  

