 <!-- As a link -->
 <nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
    <br>
    
  </nav>
  <h4 style="color: white;"></h4>
  
  
  <div class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 appHighlight class="text-center">Sign Up</h3>
                  
              </div>
              <div class="card-body">
                  <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="uname" formControlName="uname" placeholder="Username" id="login_user" required>
                        
                    </div>

                    <div style="color: red;" *ngIf="this.registerForm.get('uname')?.touched&&this.registerForm.get('uname')?.errors">invalid username</div>


                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control" name="acno" formControlName="acno" placeholder="accno" id="login_accno" required>
                          
                      </div>

                      <div style="color: red;" *ngIf="this.registerForm.get('acno')?.touched&&this.registerForm.get('acno')?.errors">invalid account number</div>




                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <input type="password" class="form-control" name="pswd" formControlName="pswd" placeholder="password" id="login_password" required>
                      </div>

                      

                      <div style="color: red;" *ngIf="this.registerForm.get('pswd')?.touched&&this.registerForm.get('pswd')?.errors">invalid password</div>




                      
                      <div class="form-group">
                          <input type="submit" value="Register"  class="btn float-right login_btn " style="width:50%" >
                      </div>
                  </form>
              </div>
              <p style="color:white;align-items:baseline;">already existing user? <a routerLink="">Log in</a></p>
          </div>
      </div>
  </div>
  
